@import url('https://fonts.googleapis.com/css?family=Vollkorn');
html{
    box-sizing: border-box;
}
body {
    font-family: 'Vollkorn', serif;

}
main {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    font-size: 17px;
    text-align: center;
    border: 6px double black;
}
.header_logo-section {
    display: flex;
    flex-direction: row;
}
.logo-section_logo {
    background-color: #D8D7D7;
}
.logo-section_heading {
    margin-left: 5px;
    text-align: center;
}
.main-heading {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 0.3em;
}
.nav_list {
    display: flex;
    flex-direction: row;
}
.header-link {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: background-color ease-in 0.15s;
}
.header-link:hover {
    background-color: #D8D7D7;
    border-color: black;
}
.header-link:active,.header-link:focus {
    background-color: #BEB9B9;
    border-color: black;
}
.header_auth {
    display: flex;
    flex-direction: row;
}
main {
    display: grid;
    grid-template-columns: 6fr 2fr;
    height: 80%;
}
.main_sidebar {
    border-left: 2px solid black;
}
.sidebar_user-rating {
    height: 25%;
    border-bottom: 2px solid black;
    text-align: center;
}
.sidebar_users-top {
    text-align: center;
}
.user-rating_heading, .users-top_heading {
    margin-top: 10px;
    font-size: 1.5em;
}
footer {
    border-top: 2px solid black;
    height: 15%;
    display: flex;
    padding: 15px;
}
.footer_list-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer_list-links_item {
    list-style: circle;
    margin-left: 30px;
    margin-bottom: 5px;
}
.footer-link {
    text-decoration: none;
    color: black;
}
.footer-link:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
}
td.cellLetterA {

    width: 30px;
    height: 30px;
    border:1px solid black;
    vertical-align: center;
}
td.cellNumberA {

    width: 40px;
    height: 40px;
    vertical-align: center;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
tr{
    height: 40px;
}
td{
    height:40px;
    width:40px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
tbody{
    vertical-align: center;
    border-collapse: collapse;

}
.answerWord{
    width:40px;
    height: 40px;
    border:none;
    padding: 0;
    margin: 0;
}